@using System.Globalization
@model JetWeb.Models.JobTableModel
<table>
    <tr>
        @if (!Model.SummaryTable)
        {
            <th scope="col" rowspan="2">Job ID</th>
            <th scope="col" rowspan="2">Job Name</th>
        }

        <th scope="col" rowspan="2">Start time</th>
        @if (Model.SummaryTable || !Model.RunningJobs)
        {
            <th scope="col" rowspan="2">End time</th>
        }
        <th scope="col" rowspan="2">Duration</th>
        @if (Model.RunningJobs)
        {
            <th scope="col" rowspan="2">Progress</th>
        }
        <th scope="colgroup" colspan="@(Model.RunningJobs ? 7 : 4)">Tasks</th>
    </tr>
    <tr>
        <th scope="col">Total</th>
        @if (Model.RunningJobs)
        {
            <th scope="col">Running</th>
            <th scope="col">Pending</th>
            <th scope="col">Finished</th>
        }

        <th scope="col">Errors</th>
        <th scope="col">Rack local</th>
        <th scope="col">Non data local</th>
    </tr>
    @foreach (var job in Model.Jobs)
    {
        var duration = (job.IsFinished ? job.EndTime : DateTime.UtcNow) - job.StartTime;
        <tr>
            @if (!Model.SummaryTable)
            {
                <td>
                    <a asp-page="Job" asp-route-id="@job.JobId" asp-route-refresh="5">{@job.JobId}</a>
                </td>
                <td>@job.JobName</td>
            }
            <td>@job.StartTime.ToString(System.Globalization.DateTimeFormatInfo.InvariantInfo.UniversalSortableDateTimePattern)</td>
            @if (Model.SummaryTable || !Model.RunningJobs)
            {
        <td>
            @if (job.IsFinished)
            {
                @job.EndTime.ToString(System.Globalization.DateTimeFormatInfo.InvariantInfo.UniversalSortableDateTimePattern)
            }
        </td>
            }
            <td>@duration.ToString(@"hh\:mm\:ss\.ff") (@duration.TotalSeconds.ToString("0.00"))</td>
            @if (Model.RunningJobs)
            {
                <td>
                    <partial name="_ProgressBar.cshtml" for="@job.Progress" />
                </td>
            }
            <td>@job.TaskCount</td>
            @if (Model.RunningJobs)
            {
                <td>@job.RunningTaskCount</td>
                <td>@job.UnscheduledTaskCount</td>
                <td>@job.FinishedTaskCount</td>
            }
            <td>@job.ErrorTaskCount</td>
            <td>@job.RackLocalTaskCount</td>
            <td>@job.NonDataLocalTaskCount</td>
        </tr>
    }
</table>
